@import 'bourbon'
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300)
@include keyframes(flash)
  from
    background: #FF0070
  to
    background: #4074AD
html
  font-family: 'Open Sans'
  font-weight: 100
  font-size: 18px
  background: #333
  color: #99F
  &.ringing
    @include animation(flash 1s infinite)
h1
  font-weight: 100
  max-width: 600px
  margin: auto
  margin-bottom: 50px
  text-align: center
h2
  margin: 5px auto
  font-size: 16px
  font-weight: 100
  color: #57EEEE
  display: block
  margin-top: 5px
  height: 35px
  text-align: center

audio
  margin: auto
  width: 170px
  background: #000
  display: block

.intercomAudio
  width: 200px
  overflow: auto
  position: relative
  margin: 30px auto
  border: 1px solid #555
  padding: 15px
.container
  margin: 100px auto
  max-width: 600px
.button
  background: #666
  color: #fff
  padding: 30px
  text-align: center
  margin: 10px
  max-width: 200px
  margin: auto
  box-sizing: border-box
  cursor: pointer
  transition: background 1s
  &:hover
    background: #000
.play
  margin-bottom: 30px
  background: #70BD2A
  &:before
    content: 'Listen'
  &.playing
    background: #BDA52A
    &:before
      content: 'Hang Up ||'

.openDoor
  margin-top: 30px
  background: #316DC7
  &:before
    content: 'Open Door'
  &.opening
    &:before
      content: 'Opening...'
.sayHello
  background: #31C76D
  &:before
    content: 'Say Hello'
  &.playing
    &:before
      content: 'Saying Hello...'

