@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@-webkit-keyframes flash {
  from {
    background: #ff0070; }

  to {
    background: #4074ad; } }

@-moz-keyframes flash {
  from {
    background: #ff0070; }

  to {
    background: #4074ad; } }

@-o-keyframes flash {
  from {
    background: #ff0070; }

  to {
    background: #4074ad; } }

@keyframes flash {
  from {
    background: #ff0070; }

  to {
    background: #4074ad; } }

html {
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 18px;
  background: #333333;
  color: #9999ff; }
  html.ringing {
    -webkit-animation: flash 1s infinite;
    -moz-animation: flash 1s infinite;
    animation: flash 1s infinite; }

h1 {
  font-weight: 100;
  max-width: 600px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center; }

h2 {
  margin: 5px auto;
  font-size: 16px;
  font-weight: 100;
  color: #57eeee;
  display: block;
  margin-top: 5px;
  height: 35px;
  text-align: center; }

audio {
  margin: auto;
  width: 170px;
  background: black;
  display: block; }

.intercomAudio {
  width: 200px;
  overflow: auto;
  position: relative;
  margin: 30px auto;
  border: 1px solid #555555;
  padding: 15px; }

.container {
  margin: 100px auto;
  max-width: 600px; }

.button {
  background: #666666;
  color: white;
  padding: 30px;
  text-align: center;
  margin: 10px;
  max-width: 200px;
  margin: auto;
  box-sizing: border-box;
  cursor: pointer;
  transition: background 1s; }
  .button:hover {
    background: black; }

.play {
  margin-bottom: 30px;
  background: #70bd2a; }
  .play:before {
    content: "Listen"; }
  .play.playing {
    background: #bda52a; }
    .play.playing:before {
      content: "Hang Up ||"; }

.openDoor {
  margin-top: 30px;
  background: #316dc7; }
  .openDoor:before {
    content: "Open Door"; }
  .openDoor.opening:before {
    content: "Opening..."; }

.sayHello {
  background: #31c76d; }
  .sayHello:before {
    content: "Say Hello"; }
  .sayHello.playing:before {
    content: "Saying Hello..."; }
